#endScreen {
  font-size: 3rem;
  text-align: center;
  position: absolute;
  width: 368px;
  top: 250px;
  left: 483px;
  color: white;
  margin: auto;
  z-index: 1;
  background-color: rgba(255, 0, 0, 0.342);
  
}
#batdau {
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 483px;
  width: 366px;height: 80px;
  color: white;
  margin: auto;
  z-index: 1;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.342);
}

body {
  margin: 0;
}
#myCanvas {
  background-color: rgb(5, 5, 5);
}
canvas {
  text-align: center;
  margin-left: 482;
}
